<!doctype html>
<html class="no-js" lang="en">
<head>
	<base href="{{ @SCHEME.'://'.@HOST.@BASE.'/'.@UI }}" />
	<meta charset="{{ @ENCODING }}" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<check if="{{isset(@title)}}"><title>{{@title}}</title></check>
	<link rel="stylesheet" href="css/foundation.css" />
	<script src="js/modernizr.js"></script>
	<script src="js/jquery.js"></script>
	<script src="js/foundation.min.js"></script>
	<script>
		$(document).foundation();
	</script>
</head>
<body>
</body>
</html>
